body {
  
  background-color: rgb(9, 0, 1);
  font: 400 15px/1.8 Lato, sans-serif;
  color: #46D4A2;
}

h3 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  
}

h4 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  
}

:target {
  display: block;
  position: relative;
  top: -70px; 
  visibility: hidden;
}

/* Navbar
================================= */

.navbar {
  background-color: rgba(24, 24, 26, 0.781);
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, .5);
}

.navbar .dropdown-menu {
  text-transform: capitalize;
}

.navbar .dropdown-menu a:hover {
  background-color: #2d2d30;
  color: white;
}

/* Jumbotron
================================= */

.main-header {
  background: linear-gradient(rgb(246, 245, 245), transparent 50%),
              linear-gradient(0deg, rgb(44, 42, 44), transparent),
              url(../img/dread2.jpg) no-repeat center 60px;
  background-size: cover;
  color: black;
  margin-bottom: 4rem;
}

#jumbo-logo {
  max-width: 80%;
  max-height: 72%;
  padding-top: 7rem;
  margin-bottom: -3rem;
}

.social-group img {
  height: 35px;
  width: 35px;
}

.upper-social{
  margin-top: .25rem;
}

.social-group a:hover {
  box-shadow: 0 0 20px black;
}

.social-group a:nth-child(even) {
  margin-left: .9rem;
  margin-right: .9rem;
}

.social-group a {
  color: black;
}

@media (min-width: 576px) {

  #jumbo-logo {
    padding-top: 4rem;
  }
}

@media (min-width: 768px) {

  #jumbo-logo {
    padding-top: 8rem;
  }
}

@media (min-width: 992px) {
  
  
  #jumbo-logo {
    padding-top: 12rem;
  }

  .upper-social {
    margin-top: .5rem;
    margin-right: 3rem;
  }

  .social-group img {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1200px) {
  #jumbo-logo {
    padding-top: 20rem;
  }

  .social-group img {
    height: 45px;
    width: 45px;
  }
}

/* Featured
================================= */
.youtubemb-5{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;


}
.youtube iframe {
  position: relative;
  width: 150%;
  height: 0;
  padding-bottom: 0.25%;
  
}

.carousel-control-prev,
.carousel-control-next {
  width: 1%;
}

.music .nav-link {
  background-color: #2d2d30;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 11px;
  padding: .5rem .5rem;
  color: rgb(36, 6, 6);
}

.music .nav-link:hover {
  border-bottom-color: #2d2d30;
}

.music .nav-link.active {
  color: #2d2d30;
}

.music .nav-link.active:hover {
  color: #2d2d30;
  border-bottom-color: white;
}

.album {
 
  background:
    url(../img/Dread-revison.jpg) no-repeat center 0px;
  background-size: cover;
  color: rgb(22, 28, 31);
  height: 350px;
  width: 95%;
  text-align: center;
}

.album-link {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #2d2d30;
  border-bottom: #2d2d30 1px solid; 
  text-decoration: none;
}

.album-link:hover {
  color: gray;
  border-bottom: gray 1px solid; 
  text-decoration: none;
}

footer .info-link:hover {
   
color: #DDD;
  border-bottom: #DDD 1px solid;
  text-decoration: none;
}

@media (min-width: 400px) {
  .album {
    height: 375px;
    width: 85%;
  }
}

@media (min-width: 475px) {
  .album {
    height: 450px;
    width: 85%;
  }
}

@media (min-width: 576px) {
  .youtube iframe {
    height: 300px;
  }

  .instagram {
    height: 300px;
  }
  .music .nav-link {
    letter-spacing: 2px;
    font-size: 15px;
    padding: .5rem 1rem;
  }

  .album {
    height: 500px;
    width: 95%;
  }
}

@media (min-width: 768px) {
  .youtube iframe {
    height: 500px;
  }

  .instagram {
    height: 500px;
  }

  .album {
    height: 600px;
    width: 80%;
  }
}

@media (min-width: 992px) {
  .album {
    height: 650px;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .youtube iframe {
    height: 700px;
  }
  .instagram {
    height: 700px;
  }

  .album {
    height: 800px;
    width: 70%;
  }
}

/* Member bios
================================= */

.person {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.9;
}

.person:hover {
  box-shadow: 0 0 15px #2d2d30;
}

.modal-header {
  background-size: cover;
  height: 275px;
}

#jesse-modal{
  background-image: url(../img/ben.jpg);
}

#caio-modal{
  background-image: url(../img/joe.jpg);
}

#chad-modal{
  background-image: url(../img/hunter.jpg);
}

#benno-modal{
  background-image: url(../img/benno.jpg);
}

.modal-body,
.modal-footer {
  
  color: white;
}

.modal-body a {
  color: rgb(7, 4, 4);
  text-decoration: none;
  border-bottom: white 1px solid;
}

.modal-body a:hover {
  color: #b8b8c5; 
  text-decoration: none;
  border-bottom: #b8b8c5 1px solid;
}

@media (min-width: 768px) {
  .modal-header {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  #members{
    max-width: 95%;
  }
}

/* Tour
================================= */

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {
  color: #2d2d30;
}
.blurb {
  font-style: italic;
}

.btn-track {
  background-color: #00b4b3;
  border-color: #00b4b3;
  color: white;
}

.btn-track:hover {
  background-color: #008585;
  border-color: #008585;
}

.btn a{
  color: white;
  text-decoration: none;
}

.bandsintown-icon {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 5px;
}

.shows iframe {
  background-color: rgb(14, 12, 12);
  height: 192px;
  width: 100%;
}

.shows a {
  color: white;
  background-color: black;
  border-color: #2d2d30;
  text-decoration: none;
}

@media (min-width: 400px) {
  .shows iframe {
    height: 215px;
  }
}

@media (min-width: 576px) {
  .shows iframe {
    height: 284px;
  }
}

@media (min-width: 768px) {
  .shows iframe {
    height: 385px;
  }
}

@media (min-width: 992px) {
  .shows iframe {
    height: 520px;
  }
}

@media (min-width: 1200px) {
  .shows iframe {
    height: 620px;
  }
}

/* Email List
================================= */

.indicates-required {
  font-style: italic;
}

/* Footer
================================= */

footer {
  background-color: rgb(71, 72, 75);
  color: rgb(14, 2, 2);
}

footer .info-link {
  color: white;
  border-bottom: white 1px solid; 
  text-decoration: none;
}

footer .info-link:hover {
  color: #DDD;
  border-bottom: #DDD 1px solid;
  text-decoration: none;
}

footer .social-group a:nth-child(even) {
  margin: 0 .4rem;
}

@media (min-width: 576px) {
  footer .social-group a:nth-child(even) {
    margin: 0 1.2rem;
  }
}

/* Contact Page
================================= */

.contact {
  margin-top: 100px;
  margin-bottom: 200px;
}

.contact a {
  color: #3f3f63;
  text-decoration: none;
  border-bottom: #3f3f63 1px solid;
}

.contact a:hover {
  color: #696999; 
  text-decoration: none;
  border-bottom: #696999 1px solid;
}

/* Press Kit
================================= */

.presskit a {
  color: #3f3f63;
  text-decoration: none;
  border-bottom: #3f3f63 1px solid;
}

.presskit a:hover {
  color: #696999; 
  text-decoration: none;
  border-bottom: #696999 1px solid;
}

.presskit h5 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.presskit h6 {
  padding-left: .5rem;
}

.presskit p {
  padding-left: 1rem;
}

.presskit .social-group a {
  border: 3px solid #2d2d30;
}

.presskit .social-group a:nth-child(even) {
  margin: 0 .1rem;
}

@media (min-width: 576px) {
  .presskit .social-group a:nth-child(even) {
    margin: 0 1.2rem;
  }
}
